.navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    display: flex;
    font-weight: 500;
    font-size: 1.6rem;

    @media (min-width: 900px) {
      font-size: 1.8rem;
    }
  }

  &__link:nth-child(1) {
    .paragraph {
      margin-left: 1rem;
    }
  }

  .column-separator {
    height: 25px;
    width: 3px;
    background: #FFD900;
    margin: 0 1rem;
    border-radius: 5px;
  }

  @media (max-width: 576px) {
    display: none;
  }
}